:root {
  --bg-color: #fff;
  --card-bg-color: #f4f5f6;
  --title-white-color: #fff;
  --primary-color: #ff5a30;
  --text-black-color: #1e212c;
  --text-light-color: #787a80;
  --input-color: #d7dadd;
  --label-color: #424551;
  --page-color: #9a9ca5;
}
